/* Color palette
 * Background #525564
 * Pane #74828F 
 * Article #96C0CE
 * Text #FEF6EB
 * Link #C25B56
 * Emphasis #BEB9B5
 */

h1 {
	font-family: 'Roboto Slab';
}

h2 {
	font-family: 'Roboto Slab';
}

a {
	color: #93e0ff;
	text-decoration: none;
}

body {
	background-color: #2D2D2D;
	color: #FEF6EB;
	font-family: 'Roboto';
}

#header {
	/* background-image: ; */
	display: block;
}

#header h1 {
	display: inline-block;
	margin: 0 1% 0 0;
}

#footer {
	
}

.pane {
	padding: 0.5em;
	border: 1px solid white;
	background-color: #3c3c3c;
}

.article {
	/* background-color: #525564; */
}

.article a {
	color: #FFE733;
}

.article p {
	
}

.icon {
	display: inline-block;
	max-width: 20%;
	margin: 0 1%;
}

.icon img {
	height: auto; /* height: 24px; */
	width: auto;
}
