body {
  margin-left: 20%;
  margin-right: 20%;
  background-color: #faebd7;
}
html {
  background-color: #faebd7;
}
#content {
 background-color: white; 
}
p {
  font-family: "Times New Roman";
  font-size: 14px
  word-wrap: normal;
  width: 60%;
}
