# README.md can be complied into html locally
README.html

# Temp files
*.swp
*.swo

# Compiled
*.o
*.so
*.class
*.dll
*.exe

# Logs
*.log

# OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Symbolic links
./docs/reading/networking.pdf
./docs/reading/cpp.pdf
