html {
    height: 100%;
    background: #2d2d2d;
}

body {
    margin: 0;
    color: #f5f5f5;
    font-family: Palatino;
}

#body p {
    text-indent: 50px;
    margin: 0.4em 0 0.4em 0;
}

a {
    color: #000080;	
}

a:hover {
    color: #000FF0;
    text-decoration: none;
}

a:visited {
    display: none;
}

table {
    table-layout: auto;
    width: 100%;
}

#content {
    max-width: 600px;
    margin: 2% auto 2% auto;
    padding: 0.4em 1.2em 0.4em 1.2em;
    border-radius: 3px;
    color: #2d2d2d;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: #ffffff 0 0 8px;
}

#header {
    padding: 0;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
}

#title {
    margin: 0.4em 0 0.4em 0;
}

#nav {
    width: 100%;
    margin: 0.4em 0 0.4em 0;
    text-align: center;
    background-color: #c9c9c9;
    border-radius: 4px;
}

#avi {
    float: right;
    display: none;
}

ul {
    display: table;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: table-cell;
    text-align: center;
}

strong {
    color:#222;
    font-weight:700;
}

img {
    max-width:100%;
}

#footer {
    text-align: center;
    background-color: #c9c9c9;
    border-radius: 4px;
}

#code {
    margin: 0.4em 0 0.4em 0;
    font-family: monospace;
    font-size:14px;
}

th, td {
    text-align:left;
    padding: 0;
    border-bottom:1px solid #aaa;
}
