html {
   margin: 0px;
   height: 100%;
   width: 100%;
}
body {
  min-height: 100%;
  width: 100%;
  background-color: #6a6a6a;
  font-family: "Verdana";
}
a {
  text-align: center;
  color: black;
  text-decoration: underline;
}
#content {
  margin: 20px 20% 20px 20%;
  border: 2px solid black;
  background-color: #add8e6;
  padding: 10px;
}
.navigation {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  border: 2px solid black;
}
.navigation ul {
  list-style-type: none;
}
.navigation li {
  display: inline;
}
.navigation a {
  text-decoration: none;
}
