html {
   margin: 0px;
   height: 100%;
   width: 100%;
}
body {
  min-height: 100%;
  width: 100%;
  background-color: black;
  font-family: "Times New Roman";
}
#content {
  border: 2px solid white;
  margin: 20px 20% 20px 20%;
  background-color: #add8e6;
  padding: 10px;
}
